<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.sports.controller.login.LoginIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUnit</servlet-name>
    <servlet-class>com.sports.controller.add.AddUnit</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>AddPerson</servlet-name>
    <servlet-class>com.sports.controller.add.AddPerson</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddItem</servlet-name>
    <servlet-class>com.sports.controller.add.AddItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMatch</servlet-name>
    <servlet-class>com.sports.controller.add.AddMatch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelPerson</servlet-name>
    <servlet-class>com.sports.controller.del.DelPerson</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProcess</servlet-name>
    <servlet-class>com.sports.controller.add.AddProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelProcess</servlet-name>
    <servlet-class>com.sports.controller.del.DelProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelMatch</servlet-name>
    <servlet-class>com.sports.controller.add.SelMatch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelMatch</servlet-name>
    <servlet-class>com.sports.controller.del.DelMatch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMatch</servlet-name>
    <servlet-class>com.sports.controller.add.UpdateMatch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMatchAllPid</servlet-name>
    <servlet-class>com.sports.controller.add.UpdateMatchAllPid</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAward</servlet-name>
    <servlet-class>com.sports.controller.add.UpdateAward</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/LoginIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUnit</servlet-name>
    <url-pattern>/AddUnit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMatch</servlet-name>
    <url-pattern>/AddMatch</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AddPerson</servlet-name>
    <url-pattern>/AddPerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddItem</servlet-name>
    <url-pattern>/AddItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelPerson</servlet-name>
    <url-pattern>/DelPerson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProcess</servlet-name>
    <url-pattern>/AddProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelProcess</servlet-name>
    <url-pattern>/DelProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelMatch</servlet-name>
    <url-pattern>/SelMatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelMatch</servlet-name>
    <url-pattern>/DelMatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMatch</servlet-name>
    <url-pattern>/UpdateMatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMatchAllPid</servlet-name>
    <url-pattern>/UpdateMatchAllPid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAward</servlet-name>
    <url-pattern>/UpdateAward</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
